version: '3'
services:
    issmanager-nginx:
        build:
            context: ./issmanager/docker/development
            dockerfile: nginx.docker
        volumes:
            - ./issmanager:/app
        depends_on:
            - issmanager-php-fpm
        ports:
            - "8080:80"
    issmanager-php-fpm:
        build:
            context: ./issmanager/docker/development
            dockerfile: php-fpm.docker
        volumes:
            - ./issmanager:/app
        depends_on:
            - issmanager-postgres
            - mailer
    issmanager-php-cli:
        build:
            context: ./issmanager/docker/development
            dockerfile: php-cli.docker
        volumes:
            - ./issmanager:/app
            - composer:/root/.composer/cache
        depends_on:
            - issmanager-postgres
            - mailer
    issmanager-node-watch:
        image: node:14.15-alpine
        volumes:
            - ./issmanager:/app
        working_dir: /app
        command: sh -c "until [ -f .ready ] ; do sleep 1 ; done && npm run watch"
    issmanager-node:
        image: node:14.15-alpine
        volumes:
            - ./issmanager:/app
        working_dir: /app
    issmanager-postgres:
        image: postgres:11.2-alpine
        volumes:
            - issmanager-postgres:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: app
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: app
        ports:
            - "54321:5432"

    mailer:
        image: mailhog/mailhog
        ports:
            - "8081:8025"

volumes:
    issmanager-postgres:
    composer: